.control {
    display: block;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);
    font-weight: 500;
    color: var(--mantine-color-dark-9);
    transition: background-color 0.3s ease;
}

.control:hover {
    background-color: var(--mantine-color-gray-2);
}

.authButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mantine-spacing-md);
    margin: var(--mantine-spacing-md) 0;
}

.signIn, .signOut {
    width: 120px;
    text-align: center;
}

.signIn {
    background-color: blue;
    color: white !important;
    transition: background-color 0.3s ease;
}

.signIn:hover {
    background-color: #4d94ff;
}

.signOut {
    background-color: red !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.signOut:hover {
    background-color: #ff6666 !important;
    color: white !important;
}
