.control {
    border-radius: 500px;
    font-weight: 500;
    color: var(--mantine-color-dark-9);
    transition: background-color 0.3s ease;
    max-width: 100%;
    padding: 0 30px !important;
    line-height: 34px !important;
    font-size: 0.75rem !important;
    text-align: center !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.control:hover {
    background-color: var(--mantine-color-gray-2);
}

.rounded {
    border-radius: 50px;
}

.signOut {
    background-color: red !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.signOut:hover {
    background-color: #ff6666 !important;
    color: white !important;
}

.signUp {
    background-color: var(--mantine-color-green-8) !important;
    color: white !important;
}

.signUp:hover {
    background-color: var(--mantine-color-green-6) !important;
}

.signIn {
    background-color: var(--mantine-color-blue-6) !important;
    color: white !important;
}

.signIn:hover {
    background-color: var(--mantine-color-blue-4) !important;
}
